[buildout]
extends = versions.cfg
develop = .
versions = versions
parts = py.test
find-links = http://pypi.dolmen-project.org/find-links
	     http://dev.bg-kooperation.de/pypi/simple
newest = false
show-picked-versions = true


[py.test]
recipe = zc.recipe.egg
initialization =
  import sys
  if not sys.argv[1:]: sys.argv.append('src')
eggs =
     pytest
     ul.auth[test]
